@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  background: url("../assets/goku_vegta.jpg");
  background-size: cover;
  z-index: -1;
  width: 100%;
  height: auto;
}
.container {
  border: 2px solid black;
  border-radius: 25px;
  padding: 18px;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.row button {
  width: 45px;
  border: 2px solid black;
  cursor: pointer;
  padding: 5px 8px;
  margin: 2px 5px;
  border-radius: 12px;
  font-size: 18px;
}
.row input {
  width: 213px;
  padding: 8px 5px;
  margin: 5px 0;
  border-radius: 8px;
  font-size: 18px;
}

.text_center {
  margin-bottom: 8px;
  text-align: center;
  font-family: "Roboto Flex", sans-serif;
}
